.item {
    background-color: white;
    padding: 0%;
}

.item:hover {
    /* background-color: #5c5988; */
    background-color: #000000d0;
    color: antiquewhite;
}

.image {
    width: 20%;
}

.item:hover .card-title {
    color: rgb(255, 255, 255);
}



.card-title {
    color: #302b4c;
}