.bgcolor {
    background-color: #ececec;
}

.boxx {
    border: none;
    /* background-color: white; */
    background-color: #ececec;
}



.textstyle {
    font-size: 18px;
    font-weight: 800;
}

.avatar {
    color: brown;
}