.nav {
    position: fixed;
    top: 0;
}

.nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1 !important;
}

.mrg {
    padding: 20px;
}

.logo {
    margin-top: -20px;
    height: 80px;
    width: 150px;
}

.navText {
    font-size: 20px;
    color: #000000;
}

.texthover:hover {
    color: #ef4444;
}