.partnerbg {
    background-color: #000000;
    padding: 40px;
}

.partnerTitle {
    margin: 15px;
    /* color: #fcd756; */
    color: #ef4444;
}

.seemore {
    border: none;
    font-size: 22px;
    font-weight: 800;
}

.seemore:hover {
    background-color: #dc3545;
    color: burlywood;
}